<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入css、js -->
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/index.js"></script>
</head>
<body>
    <!-- 搭建结构 -->
    <div class="container switch">
        <!-- 注册页面 -->
        <div class="container-form container-signup">
            <form action="" class="form">
                <h2 class="form-title">注册</h2>
                <input type="text" placeholder="用户名" class="input">
                <input type="email" placeholder="邮箱" class="input">
                <input type="password" placeholder="密码" class="input">
                <button class="submit">注册</button>
            </form>
        </div>
        <!-- 登录页面 -->
        <div class="container-form container-signin">
            <form action="javascript:void(0);" class="form">
                <h2 class="form-title">登录</h2>
                <input type="text" placeholder="用户名" class="input">
                <input type="password" placeholder="密码" class="input">
                <a href="javascript:void(0);">忘记密码？</a>
                <button class="submit">登录</button>
            </form>
        </div>
        <!-- 覆盖层 -->
       <div class="container-overlay">
            <div class="overlay">
                <div class="overlay-slide overlay-left">
                    <button class="submit" id="goSignIn">登录</button>
                </div>
                <div class="overlay-slide overlay-right">
                    <button class="submit" id="goSignUp">注册</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!-- 结构搭建完成 -->